<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer home page</title>
</head>
<body>
    <h1>Welcome, {{ username }}! Your All Favreate Restaurent </h1>
    <table border="1">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>cuisine</th>
                <th>Rating</th>
                <th>Other Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
            <tr>
                 <td>
                    <img src="{{ restaurant.picture }}" alt="{{ restaurant.name }}" width="100">
                </td>

                <td>
                    {{restaurant.name}}
                </td>
               
                <td>
                    {{restaurant.cuisine}}
                </td>

                <td>
                    {{restaurant.rating}}/5
                </td>

                <td>
                    <a href="{% url 'customer_view_menu' restaurant.id username %}">View Menu</a>
                    <br>
                </td>
            {% endfor %}
            </tr>
        </table>
</body>
</html>